<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy</title>

    <link rel="icon" href="/images/logo-icon.png" />
    <!-- Pega a logo e coloca como ícone na aba -->

    <!-- Carrega os estilos dos CSS -->
    <!-- CSS com os estilos principais da página (body) -->
    <link rel="stylesheet" href="/css/main.css" />
    <!-- CSS que definem as animações da página (transições, etc) -->
    <link rel="stylesheet" href="/css/animations.css" />
    <!-- CSS que define como a página será apresentada -->
    <link rel="stylesheet" href="/css/page-landing.css" />

    <!-- Pega as fontes 'Nunito' com pesos 400, 600 e 800 do google (fonts.google.com) -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="page-landing"> <!-- Página onde o usuário irá pousar ao acessar o app -->
      <div id="container">
        <header>
          <img
            class="animate-up"
            id="logo"
            src="/images/logo.svg"
            alt="Logomarca de Happy"
          />

          <div class="location animate-up">
            <strong>Londrina</strong>
            <p>Paraná</p>
          </div>
        </header>

        <main>
          <h1 class="animate-up">Leve felicidade para o mundo</h1>

          <section class="visit">
            <p class="animate-up">
              Visite orfanatos e mude o dia de muitas crianças
            </p>

            <a href="/orphanages" title="Visite orfanatos" class="animate-up">
              <img src="/images/arrow.svg" alt="Ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
